/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content:not(.custom)
  max-width 800px

.rules-list
  h3
    margin-top 2rem
    margin-bottom 1rem

.rule-ref:before
  display block
  content " "
  margin-top -64px
  height 64px
  visibility: hidden

.page
  color rgba(255, 255, 255, 0.83)

  bold, strong
    color rgba(255, 255, 255, 1.0)

.spread-lists
  & > ul > li
    // Minor additional spacing for root whats new list items
    margin-bottom 0.5rem

.red-text
  color $redText

kbd
  background #666
  border-color #3a3a3a
  margin 0 1px 0 3px
